force-app/main/default/flows/Rollup_Delete_On_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Paid_var</name>
        <label>Paid var</label>
        <locationX>440</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>Paidvar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_all_PO.Paid_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total</name>
        <label>Total</label>
        <locationX>440</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>Totalvar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_all_PO.PO_Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_all_PO</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Test_if_Disabled</name>
        <label>Test if Disabled</label>
        <locationX>352</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Paid_var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Disabled</defaultConnectorLabel>
        <rules>
            <name>Disabled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterating_all_PO.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterating_all_PO.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterating_all_PO</targetReference>
            </connector>
            <label>Disabled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Rollup Delete On Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rollup Delete On Project</label>
    <loops>
        <name>Iterating_all_PO</name>
        <label>Iterating all PO</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Getting_all_PO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Test_if_Disabled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Amount_field_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Getting_all_PO</name>
        <label>Getting all PO</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterating_all_PO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchase_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Amount_field_update</name>
        <label>Amount field update</label>
        <locationX>176</locationX>
        <locationY>995</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_PO_Amount__c</field>
            <value>
                <elementReference>Totalvar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Paid_PO_Amount__c</field>
            <value>
                <elementReference>Paidvar</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getting_all_PO</targetReference>
        </connector>
        <object>Purchase_Order__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Paidvar</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Totalvar</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
