force-app/main/default/flows/Rollup_On_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Paid_var</name>
        <label>Copy 1 of Paid var</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OldPaidvar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Iterating_all_PO.Paid_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Total</name>
        <label>Copy 1 of Total</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OldTotalvar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Iterating_all_PO.PO_Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Iterating_all_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Paid_var</name>
        <label>Paid var</label>
        <locationX>270</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Paidvar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_all_PO.Paid_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total</name>
        <label>Total</label>
        <locationX>270</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>Totalvar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_all_PO.PO_Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_all_PO</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_project_changed</name>
        <label>check if project changed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Getting_all_PO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Project Not Changed</defaultConnectorLabel>
        <rules>
            <name>Project_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.buildertek__Project__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Project__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.buildertek__Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Old_PO</targetReference>
            </connector>
            <label>Project Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Rollup On Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rollup On Project</label>
    <loops>
        <name>Copy_1_of_Iterating_all_PO</name>
        <label>Copy 1 of Iterating all PO</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Getting_Old_PO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Paid_var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Amount_field_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterating_all_PO</name>
        <label>Iterating all PO</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <collectionReference>Getting_all_PO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Paid_var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Amount_field_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Getting_all_PO</name>
        <label>Getting all PO</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterating_all_PO</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchase_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Old_PO</name>
        <label>Getting Old PO</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Iterating_all_PO</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchase_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Amount_field_update</name>
        <label>Amount field update</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_PO_Amount__c</field>
            <value>
                <elementReference>Totalvar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Paid_PO_Amount__c</field>
            <value>
                <elementReference>Paidvar</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Amount_field_update</name>
        <label>Copy 1 of Amount field update</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Getting_all_PO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_PO_Amount__c</field>
            <value>
                <elementReference>OldTotalvar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Paid_PO_Amount__c</field>
            <value>
                <elementReference>OldPaidvar</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_if_project_changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Paid_Amount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PO_Amount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Purchase_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OldPaidvar</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OldTotalvar</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Paidvar</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Totalvar</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
