force-app/main/default/flows/Update_Project_on_Continuous_Sheet_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Project_on_Each_Continious_Sheet_Lines</name>
        <label>Assign Project on Each Continious Sheet Lines</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_Continuous_Sheet_Lines.BT_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SOV_Payment_Application__r.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_over_Continuous_Sheet_Lines.Schedule_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_over_Continuous_Sheet_Lines.Schedule_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_new_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_new_variable</name>
        <label>Assign to the new variable</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Collectionofcontinioussheetlines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Continuous_Sheet_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Continuous_Sheet_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_project_is_same</name>
        <label>Check if project is same</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.buildertek__SOV_Payment_Application__r.buildertek__Project__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SOV_Payment_Application__r.Project__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Continuation_Sheet_Lines</targetReference>
            </connector>
            <label>Project changed</label>
        </rules>
    </decisions>
    <description>It will change the project on continious sheet line if we update payment on continious sheet</description>
    <environments>Default</environments>
    <interviewLabel>Update Project on Continuous Sheet Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Project on Continuous Sheet Lines</label>
    <loops>
        <name>Loop_over_Continuous_Sheet_Lines</name>
        <label>Loop over Continuous Sheet Lines</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Continuation_Sheet_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Project_on_Each_Continious_Sheet_Lines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Continuous_Sheet_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Continuation_Sheet_Lines</name>
        <label>Get Continuation Sheet Lines</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Continuous_Sheet_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SOV_Continuation_Sheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SOV_Continuation_Sheet_Lines__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Continuous_Sheet_Lines</name>
        <label>Update Continuous Sheet Lines</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>Collectionofcontinioussheetlines</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_project_is_same</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SOV_Payment_Application__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SOV_Payment_Application__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SOV_Continuation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Collectionofcontinioussheetlines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SOV_Continuation_Sheet_Lines__c</objectType>
    </variables>
</Flow>
