force-app/main/default/flows/Update_Time_Card_field_on_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Amount</name>
        <label>Add Amount</label>
        <locationX>440</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_all_TC.Daily_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_all_TC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Exclude_deleted_TC</name>
        <label>Exclude deleted TC</label>
        <locationX>352</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Add_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deleted_Time_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_on_all_TC.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_on_all_TC</targetReference>
            </connector>
            <label>Deleted Time Card</label>
        </rules>
    </decisions>
    <description>Time card value set default to 0</description>
    <environments>Default</environments>
    <interviewLabel>Update Time Card field on Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Time Card field on Delete</label>
    <loops>
        <name>Iterate_on_all_TC</name>
        <label>Iterate on all TC</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_Time_Card_Related_to_Project</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Exclude_deleted_TC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_TC_on_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Time_Card_Related_to_Project</name>
        <label>Get Time Card Related to Project</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_on_all_TC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Cards__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_TC_on_Project</name>
        <label>Update TC on Project</label>
        <locationX>176</locationX>
        <locationY>887</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_Card_Total__c</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Time_Card_Related_to_Project</targetReference>
        </connector>
        <object>Time_Cards__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
