force-app/main/default/flows/update_Po_receieved_qty_on_Invoice_line_Po_delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>received_quantity_value</name>
        <label>received quantity value</label>
        <locationX>264</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>receievedfieldvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>coItemrecordQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_po_item_record_quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reset_quantity_to_0</name>
        <label>reset quantity to 0</label>
        <locationX>264</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>receievedfieldvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_collected_invoice_line_po_records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>coItemrecordQuantity</name>
        <dataType>Number</dataType>
        <expression>{!get_po_item_record_related_to_invoce_item_po.Quantity_Received__c}-{!loop_over_collected_invoice_line_po_records.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>update Po receieved qty on Invoice line Po delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update Po receieved qty on Invoice line Po delete</label>
    <loops>
        <name>loop_over_collected_invoice_line_po_records</name>
        <label>loop over collected invoice line po records</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>get_invoice_line_po_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_po_item_record_related_to_invoce_item_po</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_invoice_line_po_records</name>
        <label>get invoice line po records</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_collected_invoice_line_po_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Payable__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Payable_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_po_item_record_related_to_invoce_item_po</name>
        <label>get po item record related to invoce item po</label>
        <locationX>264</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>received_quantity_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_over_collected_invoice_line_po_records.Purchase_Order_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Purchase_Order_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_po_item_record_quantity</name>
        <label>update po item record quantity</label>
        <locationX>264</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>reset_quantity_to_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_over_collected_invoice_line_po_records.Purchase_Order_Item__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity_Received__c</field>
            <value>
                <elementReference>receievedfieldvalue</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order_Item__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_invoice_line_po_records</targetReference>
        </connector>
        <object>Account_Payable__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>receievedfieldvalue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
