force-app/main/default/flows/Update_Sales_Invoice_Amount_on_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Amount</name>
        <label>Add Amount</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_All_Sales_Invoice.Total_Amount_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Sales_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_new_amount</name>
        <label>Add new amount</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>NewAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_new_sales_invoice.Total_Amount_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_new_sales_invoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_project_field_is_updated</name>
        <label>Check if project field is updated</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Project field is Null</defaultConnectorLabel>
        <rules>
            <name>New_Project_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.buildertek__Project__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Project__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.buildertek__Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Sales_Invoice</targetReference>
            </connector>
            <label>New Project Assigned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Sales Invoice Amount on Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Sales Invoice Amount on Project</label>
    <loops>
        <name>Iterate_All_Sales_Invoice</name>
        <label>Iterate All Sales Invoice</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Sales_Invoice_for_related_project</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Total_Amount_on_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_new_sales_invoice</name>
        <label>Iterate over new sales invoice</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_New_Sales_Invoice</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_new_amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Total_Sales_Invoice_Amount_on_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_New_Sales_Invoice</name>
        <label>Get New Sales Invoice</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_new_sales_invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Invoice_for_related_project</name>
        <label>Get Sales Invoice for related project</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_All_Sales_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Total_Amount_on_Project</name>
        <label>Update Total Amount on Project</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Check_if_project_field_is_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Invoice_Total__c</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_Sales_Invoice_Amount_on_Project</name>
        <label>Update Total Sales Invoice Amount on Project</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Invoice_Total__c</field>
            <value>
                <elementReference>NewAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Invoice_for_related_project</targetReference>
        </connector>
        <object>Billings__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NewAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
