force-app/main/default/flows/Update_Contractor_Invoice_PO_Total_Field_on_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Amount</name>
        <label>Add Amount</label>
        <locationX>878</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_All_Contractor_Invoice.Net_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_All_Contractor_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Amount</name>
        <label>Copy 1 of Add Amount</label>
        <locationX>635</locationX>
        <locationY>1185</locationY>
        <assignmentItems>
            <assignToReference>UpdateoldProjectexpense</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Iterating_All_Expenses.Net_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Iterating_All_Expenses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_project_is_changed</name>
        <label>Check if project is changed</label>
        <locationX>770</locationX>
        <locationY>872</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Project_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.buildertek__Project__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Project__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.buildertek__Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_2</targetReference>
            </connector>
            <label>New Project Assigned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contractor Invoice PO Total Field on Project</label>
    <loops>
        <name>Copy_1_of_Iterating_All_Expenses</name>
        <label>Copy 1 of Iterating All Expenses</label>
        <locationX>553</locationX>
        <locationY>1065</locationY>
        <collectionReference>Get_Records_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Add_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_Contractor_Invoice_on_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterating_All_Contractor_Invoice</name>
        <label>Iterating All Contractor Invoice</label>
        <locationX>778</locationX>
        <locationY>507</locationY>
        <collectionReference>Get_Contractor_Invoice_for_related_project</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contractor_Invoice_on_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contractor_Invoice_for_related_project</name>
        <label>Get Contractor Invoice for related project</label>
        <locationX>778</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterating_All_Contractor_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Payable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_2</name>
        <label>Get Records 2</label>
        <locationX>553</locationX>
        <locationY>942</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Iterating_All_Expenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Payable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Contractor_Invoice_on_Project</name>
        <label>Copy 1 of Update Contractor Invoice on Project</label>
        <locationX>532</locationX>
        <locationY>1334</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contractor_Invoice_PO_Total__c</field>
            <value>
                <elementReference>UpdateoldProjectexpense</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contractor_Invoice_on_Project</name>
        <label>Update Contractor Invoice on Project</label>
        <locationX>777</locationX>
        <locationY>701</locationY>
        <connector>
            <targetReference>Check_if_project_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contractor_Invoice_PO_Total__c</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Contractor_Invoice_for_related_project</targetReference>
        </connector>
        <object>Account_Payable__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OldCIAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UpdateoldProjectexpense</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
