force-app/main/default/flows/Update_Quantity_on_PO_Line_when_Quantity_On_Payable_Line.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_total_recieve_qty</name>
        <label>Add total recieve qty</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>totalrevievedqyt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>total_receive.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>total_receive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assgin_total_received_qty_to_PO_item</name>
        <label>assgin total received qty to PO item</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>get_releted_po_Item_record.Quantity_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalrevievedqyt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_total_received_qty_of_the_po</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Po_Line_Id_is_Not_Null</name>
        <label>check Po Line Id is Not Null</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Po_line_Id_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.buildertek__Purchase_Order_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_releted_po_Item_record</targetReference>
            </connector>
            <label>Po line Id is Not Null</label>
        </rules>
    </decisions>
    <description>Update the Quantity field on the original PO Line when the user updates the Quantity on the Payable Line.</description>
    <environments>Default</environments>
    <formulas>
        <name>new_receieved</name>
        <dataType>Number</dataType>
        <expression>{!$Record.buildertek__Purchase_Order_Item__r.buildertek__Quantity_Received__c}-{!$Record.buildertek__Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Receieved_Field_value</name>
        <dataType>Number</dataType>
        <expression>{!$Record.buildertek__Purchase_Order_Item__r.buildertek__Quantity_Received__c}+{!$Record.buildertek__Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Quantity on PO Line when Quantity On Payable Line {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Quantity on PO Line when Quantity On Payable Line</label>
    <loops>
        <name>total_receive</name>
        <label>total receive</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>get_all_co_items_of_po_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_total_recieve_qty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assgin_total_received_qty_to_PO_item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_co_items_of_po_items</name>
        <label>get all co items of po items</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>total_receive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Order_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_releted_po_Item_record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Payable_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_releted_po_Item_record</name>
        <label>get releted po Item record</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_all_co_items_of_po_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Purchase_Order_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Purchase_Order_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_total_received_qty_of_the_po</name>
        <label>update total received qty of the po</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>get_releted_po_Item_record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_Po_Line_Id_is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account_Payable_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>totalrevievedqyt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
