force-app/main/default/flows/update_project_expense_field_on_delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Amount</name>
        <label>Add Amount</label>
        <locationX>440</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_All_Expenses.Total_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_All_Expenses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Exclude_deleted_expense</name>
        <label>Exclude deleted expense</label>
        <locationX>352</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Add_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Expenses</defaultConnectorLabel>
        <rules>
            <name>Deleted_Expense</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterating_All_Expenses.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterating_All_Expenses</targetReference>
            </connector>
            <label>Deleted Expense</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>update project expense field on delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update project expense field on delete</label>
    <loops>
        <name>Iterating_All_Expenses</name>
        <label>Iterating All Expenses</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_expenses_for_related_project</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Exclude_deleted_expense</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Expenses_on_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_expenses_for_related_project</name>
        <label>Get expenses for related project</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterating_All_Expenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Expense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Expenses_on_Project</name>
        <label>Update Expenses on Project</label>
        <locationX>176</locationX>
        <locationY>887</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Expenses__c</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_expenses_for_related_project</targetReference>
        </connector>
        <object>Expense__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllExpenses</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OldExpenseAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UpdateoldProjectexpense</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
