force-app/main/default/flows/Update_Total_Time_Card_Field_on_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Amount</name>
        <label>Add Amount</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_on_all_Time_Card.Daily_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_on_all_Time_Card</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Amount1</name>
        <label>Add Amount1</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>UpdateOldProjectTC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_on_All_TC1.Daily_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_on_All_TC1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_project_change</name>
        <label>Check if project change</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Project_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.buildertek__Project__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Project__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.buildertek__Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_2</targetReference>
            </connector>
            <label>New Project Assigned</label>
        </rules>
    </decisions>
    <description>updated time card value default to 0</description>
    <environments>Default</environments>
    <interviewLabel>Update Total Time Card Field on Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Total Time Card Field on Project</label>
    <loops>
        <name>Iterating_on_All_TC1</name>
        <label>Iterating on All TC1</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Records_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Amount1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_TC_on_Project1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterating_on_all_Time_Card</name>
        <label>Iterating on all Time Card</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Time_Card_for_related_Project</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_TC_on_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records_2</name>
        <label>Get Records 2</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterating_on_All_TC1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Cards__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Card_for_related_Project</name>
        <label>Get Time Card for related Project</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterating_on_all_Time_Card</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Cards__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_TC_on_Project</name>
        <label>Update TC on Project</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Check_if_project_change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_Card_Total__c</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TC_on_Project1</name>
        <label>Update TC on Project1</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_Card_Total__c</field>
            <value>
                <elementReference>UpdateOldProjectTC</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Time_Card_for_related_Project</targetReference>
        </connector>
        <object>Time_Cards__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UpdateOldProjectTC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
