force-app/main/default/flows/Update_Project_Contractor_Invoice_field_on_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Amount</name>
        <label>Add Amount</label>
        <locationX>1157</locationX>
        <locationY>640</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_All_Contractor_Invoice.Net_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_All_Contractor_Invoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Exclude_deleted_Contractor_Invoice</name>
        <label>Exclude deleted Contractor Invoice</label>
        <locationX>1160</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>Add_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deleted_Contractor_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterating_All_Contractor_Invoice.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterating_All_Contractor_Invoice</targetReference>
            </connector>
            <label>Deleted Contractor Invoice</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Project Contractor Invoice field on Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Project Contractor Invoice field on Delete</label>
    <loops>
        <name>Iterating_All_Contractor_Invoice</name>
        <label>Iterating All Contractor Invoice</label>
        <locationX>779</locationX>
        <locationY>472</locationY>
        <collectionReference>Get_Contractor_Invoice_for_related_Project</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Exclude_deleted_Contractor_Invoice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contractor_Invoice_on_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contractor_Invoice_for_related_Project</name>
        <label>Get Contractor Invoice for related Project</label>
        <locationX>776</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterating_All_Contractor_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Payable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contractor_Invoice_on_Project</name>
        <label>Update Contractor Invoice on Project</label>
        <locationX>779</locationX>
        <locationY>641</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contractor_Invoice_PO_Total__c</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Contractor_Invoice_for_related_Project</targetReference>
        </connector>
        <object>Account_Payable__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>OldCIAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UpdateoldProjectContractorInvoice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
