force-app/main/default/flows/Update_project_sales_invoice_field_on_delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Amount</name>
        <label>Add Amount</label>
        <locationX>440</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_All_Sales_Invoices.Total_Amount_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_All_Sales_Invoices</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Exclude_deleted_sales_invoice</name>
        <label>Exclude deleted sales invoice</label>
        <locationX>352</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Add_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Sales Invoices</defaultConnectorLabel>
        <rules>
            <name>Deleted_Sales_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterating_All_Sales_Invoices.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterating_All_Sales_Invoices</targetReference>
            </connector>
            <label>Deleted Sales Invoice</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update project sales invoice field on delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update project sales invoice field on delete</label>
    <loops>
        <name>Iterating_All_Sales_Invoices</name>
        <label>Iterating All Sales Invoices</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_sales_invoices_for_related_project</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Exclude_deleted_sales_invoice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sales_Invoice_Amount_on_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_sales_invoices_for_related_project</name>
        <label>Get sales invoices for related project</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterating_All_Sales_Invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sales_Invoice_Amount_on_Project</name>
        <label>Update Sales Invoice Amount on Project</label>
        <locationX>176</locationX>
        <locationY>887</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Invoice_Total__c</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_sales_invoices_for_related_project</targetReference>
        </connector>
        <object>Billings__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
