force-app/main/default/flows/Update_Project_Schedule_field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assing_Schedule_Project_Id</name>
        <label>Assing Schedule Project Id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>ParentProjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Schedule_Record_to_Parent_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Schedule_Duration</name>
        <label>Get Schedule Duration</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Total_Duration</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Total_Durations.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_of_Related_Schedules</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Total_Durations</targetReference>
        </connector>
    </assignments>
    <description>Project&apos;s Duration == Avg(Schedule Duration)</description>
    <environments>Default</environments>
    <formulas>
        <name>Avg_Duration</name>
        <dataType>Number</dataType>
        <expression>{!Total_Duration} / {!Number_of_Related_Schedules}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Project Schedule field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Project Schedule field</label>
    <loops>
        <name>Calculate_Total_Durations</name>
        <label>Calculate Total Duration</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Related_Schedule_Record_to_Parent_Project</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Schedule_Duration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Project_Schedule_field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Schedule_Record_to_Parent_Project</name>
        <label>Get Related Schedule Record to Parent Project</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Total_Durations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Schedule_field</name>
        <label>Update Project Schedule field</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Schedule_Duration__c</field>
            <value>
                <elementReference>Avg_Duration</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assing_Schedule_Project_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Duration__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Schedule__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Number_of_Related_Schedules</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ParentProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Project__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>RelatedSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Schedule__c</objectType>
    </variables>
    <variables>
        <name>Total_Duration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
